asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==8.0.4
conda==4.5.9
cryptography==2.2.2
Cython==0.29.36
dataclasses==0.8
filelock==3.4.1
greenlet==2.0.2
huggingface-hub==0.4.0
idna==2.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
mkl-fft==1.0.4
mkl-random==1.0.1
mysqlclient==2.1.1
nltk==3.6.7
numpy==1.19.5
olefile==0.45.1
packaging==21.3
pandas==1.1.5
patsy==0.5.2
Pillow==5.2.0
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==3.0.7
PySocks==1.6.8
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.18.4
ruamel_yaml==0.15.37
sacremoses==0.0.53
scikit-learn==0.19.2
scipy==1.1.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.11.0
SQLAlchemy==1.4.39
statsmodels==0.12.2
tokenizers==0.12.1
torch==1.10.2
torchvision==0.2.1
tqdm==4.64.1
transformers==4.18.0
typing_extensions==4.1.1
urllib3==1.22
zipp==3.6.0
